body {
  margin: 0;
  background: url("./constants/images/backKit.jpg") no-repeat, #1e211f;
  background-size: cover;
  height: 100vh;
}

div[id='root']{
  height: 100vh;
}

label{
  text-align: center;
}

.content-area{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* HEADER SECTION */
.header-logo {
  width: 60px;
  height: 60px;
  margin-right: 1.9em;
}

.header-logo img{
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.header {
  text-align: left;
  background-color: #1e211f;
  color: white;
  font-size: 1.5em;
  padding: 0.7em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* FILES CONTROL SECTION */
.files-control-area {
  background-color: rgb(131, 126, 126);
  min-width: 400px;
  padding: 1em;
  border: solid black;
  border-radius: 7px;
  width: 43vw;
  height: 100%;
  margin: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


/* FILES UPLOAD SECTION */
.download-area{
  width: 50vw;
  margin: 1em auto 5em auto;
  border: 5px solid #294438;
  display: grid;

}

.drop-block{
  width: 100%;
  height: 20vh;
  opacity: 0.7;
  border: 5px dashed #294438;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.drop-block:hover{
  opacity: 1;
  transition: all 0.3s;
}

.drop-area{
  height: 100%;
  width: 100%;
  color: aliceblue;
  background-color: #68816f;
  display: flex;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
}

.upload-manage-section{
  padding-bottom: 1em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.upload-button label{
  padding: 1em;
}

/* BUTTONS */
input[type="file"]{
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.upload-buttons-area {
  padding: 1em 1em 1em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button span:before {
  content: '\003C';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.upload-button, .send-button, .download-button, .delete-button {
  border-radius: 4px;
  background-color: #1e211f;
  border: 2px solid black;
  color: #FFFFFF;
  text-align: center;
  padding: 1em;
  transition: all 0.5s;
  font-size: 1em;
}

.upload-button {
  padding: 1em 0 1em 0;
  transition: 0.5s;
}

.send-button:hover, .download-button:hover, .upload-button:hover {
  background-color: #68816f;
  transition: all 0.3s;
}

.delete-button:hover {
  background-color: rgb(134, 12, 12);
  transition: all 0.3s;
}

.download-button{
  margin-right: 1em;
  margin-top: 1em;
}

.download-button:disabled{
  margin-right: 1em;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}


/* UPLOADED FILES SECTION */
.upload-control-area{
  background-color: #1e211f;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  padding: 1em 0 1em 0;
  border-radius: 4px;
  color: white;
  font-size: 20px;
}

.upload-control-label{
  padding-left: 1em;
}

.uploaded-files-area{
  margin: 1em;
  border-radius: 5px;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
}


/* IMAGE ITEM SECTION */
.text-box{
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.image-box{
  margin: 0.5em;
  border: 4px solid #282c34;
  border-radius: 3px;
  width: 8em;
  height: 8em;
  text-align: center;
}

.image-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-error-label {
  align-items: center;
  display: flex;
  height: 100%;
  background-color: #FFFFFF;
}

.close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


/* SWITCH AREA */
.switch-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
}

.switch-label {
  padding-right: 1em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* DATA MANAGE AREA */
.data-manage-area {
  height: 50vh;
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* RESULT SECTION */
.result-data-area {
  margin: 1em;
  width: 50vw;
  height: 100%;
  border: solid black;
  border-radius: 7px;
  background-color:rgb(131, 126, 126);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.result-data-area[disabled]{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  transition: all 0.4s;
}

.result-table-area {
  overflow-y: scroll;
  height: 80%;
  width: 100%;
  border: 3px solid black;
}

.result-label{
  font-size: 1.5em;
  text-align: center;
  padding: 1em;
  background-color: #282c34;
  color: white;
}

.result-table {
  border: 1px solid black;
  color: #FFFFFF;
  width: 100%;
}

table, th, td {
  border:1px solid #1e211f;
  color: black;
}